body {
    background-color: #1e1e1e;
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

.header {
    background-color: #ff5722;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 0;
    color: white;
    position: relative;
    overflow: hidden;
}

.header img {
    width: 140px;
    height: 135px;
    border-radius: 15px 0 0 0;
    margin-right: -140px;
    padding: 0;
    display: block;
    float: left;
}

.topnav {
    overflow: visible;
    border-radius: 0 0 15px 15px;
    background-color: #333;
    color: white;
    opacity: 0.85;
}

.topnav a {
    float: left;
    display: block;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgba(255, 87, 34, 0.25);
    color: #ffeb3b;
}

.topnav .dropdown {
    position: relative;
    display: inline-block;
}

.topnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 15px 15px;
    z-index: 1000;
    top: 100%;
    left: 0;
    white-space: nowrap;
}

.topnav .dropdown-content a {
    color: #ffeb3b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.topnav .dropdown-content a:hover {
    background-color: rgba(255, 87, 34, 0.25);
    border-radius: 0 0 15px 15px;
    color: #ffeb3b;
}

.topnav .dropdown:hover .dropdown-content {
    display: flex;
}

.topnav button.cerrar-sesion {
    float: right;
    color: #ffeb3b;
    border-radius: 0 0 15px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    border: none;
}

.topnav button.cerrar-sesion:hover {
    border-radius: 0 0 15px 0;
    background-color: rgba(255, 87, 34, 0.25);
    color: #ffeb3b;
    cursor: pointer;
}

.container {
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    width: auto;
    border: 1px solid rgba(211, 211, 211, 0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.cardTitle {
    color: white;
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.cardBody {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffeb3b;
}

button{
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #8b2809e8;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.matrices-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.matriz {
    text-align: center;
}

.matrizA, .matrizB, .resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.fila {
    display: flex;
}

.celda {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 2px;
}

.cardFooter {
    background-color: #333;
    opacity: 0.85;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.cardFooter a {
    text-decoration: none;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

.footer {
    background-color: #333; 
    opacity: 0.85;
    text-align: center;
    padding: 20px;
    color: #ffeb3b; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}